<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @question.description %>
</p>
	<div id="4b" style="padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px; margin-left:4em">
		<strong>Answers:</strong>
		<ul>
			<% @answers.each do |answer|  %>
			<li>
				<%= answer.description %>
			</li>
			<% end %>
		</ul>
	</div>
<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
