<%= form_for(@add_question) do |f| %>
  <% if @add_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@add_question.errors.count, "error") %> prohibited this add_question from being saved:</h2>

      <ul>
      <% @add_question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
