<p id="notice"><%= notice %></p>

<h1>Pick a question</h1>
<input type="hidden" id="poll_id" value=<%=@poll.id %> >
<table id="mytable">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions_filter.each do |question| %>
      <tr>
        <td><input type="checkbox" name = "chkboxRoute[]" value=<%=question.id%>> <%= question.description %><br></td>
      </tr>
    <% end %>
  </tbody>
</table>
<button id="save">Ingresa preguntas</button>

<br>

<script type="text/javascript">
$('#save').click(function () {
  debugger
    varId = [];
    poll_id=document.getElementById('poll_id').value;
    //poll_id.find.('poll_id').value();
    i=0;
    $('#mytable').find('tr').each(function () {
        var row = $(this);
        if (row.find('input[type="checkbox"]').is(':checked') 
            ) {
            varId[i]=row.find('input[type="checkbox"]').val()
          i++;
        }
    });
    //here the url for questions
    $.ajax({   
        url : "/add_questions",
        type : "post",
        data : { data_value: JSON.stringify(varId) , poll_id}
    });
});
</script>
