<h1>ManageAnswer#edit</h1>
<p>Find me in app/views/manage_answer/edit.html.erb</p>
<input type="hidden" id="question_id" value=<%=@question.id %> >
<div id="contenedor">
	<div class="added">
		<h3>Questions</h3>
		<a id="addAnswer" class="btn btn-info" href="#">Add Answer</a><br/><br/>
	</div></div>
	<div>
		<button id="save">Update Answer</button>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
    var arrDelete       = [] //arreglo a eliminar
    var MaxInputs       = 8; //Número Maximo de Campos
    var contenedor       = $("#contenedor"); //ID del contenedor
    var AddButton       = $("#addAnswer"); //ID del Botón Agregar
    //var x = número de campos existentes en el contenedor
    var x = ($("#contenedor div").length-1);
    var FieldCount = x+1; //para el seguimiento de los campos
    i=0;
    j=0;
    <% if !@answers.nil? %>
    <% @answers.each do |answer| %>
    <% if !answer.description.nil? %>
    
    $(contenedor).append('<div><label> '+ FieldCount +' </label><input type="text" name="questionsgroup[]" id="<%=answer.id %>" placeholder="" value="<%=answer.description %>"disabled/><a href="#" class="eliminarRespuesta">&times;</a><br/><br/></div>');
    FieldCount++;
            x++; //text box increment
            <% end %>    
            <% end %>    
            <% end %>   

            (AddButton).click(function (e) {
        if(x <= MaxInputs) //max input box allowed
        {
            //agregar campo
            $(contenedor).append('<div><label> '+ FieldCount +' </label><input type="text" name="questionsgroup[]" id="" placeholder=""/><a href="#" class="eliminar">&times;</a><br/><br/></div>');
            FieldCount++;
            x++; //text box increment
        }
        return false;
    });

    $("body").on("click",".eliminar", function(e){ //click en eliminar campo
    	if( x > 1 ) {
            $(this).parent('div').remove(); //eliminar el campo
            x--;
        }
        return false;
    });

        $("body").on("click",".eliminarRespuesta", function(e){ //click en eliminar pregunta existente
        	if( x >= 1 ) {
        		var r = confirm("¿Desea eliminar esta respuesta de BDD?!");
        		if (r == true) {
        			arrDelete[j]=$(this).parent('div').find(':input').attr('id');
        			j++;
                $(this).parent('div').remove(); //eliminar el campo
                x--;
            } else {
              //
          }

      }
      return false;
  });
        $('#save').click(function () {
    var contenedor       = $("#contenedor"); //ID del contenedor
    question_id=document.getElementById('question_id').value;
    varId=[]; // New question's id to be added 
    i=0;
    $("#contenedor :input").each(function() {      
    	if(!($(this).attr('id'))) //check only new questions
    	{
    		if($(this).val()){ //check empty string 
    			varId[i]=$(this).val();
    			i++;
    		}
    	}
    });
    $.ajax({   
    	url : "/manage_answer/edit",
    	type : "PUT",
    	data : { data_value: JSON.stringify(arrDelete) , data_value_add: JSON.stringify(varId), question_id}
    });
  }); //save


        });//DOM ready

    </script>