<%= form_for(@poll) do |f| %>
<% if @poll.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@poll.errors.count, "error") %> prohibited this poll from being saved:</h2>

  <ul>
    <% @poll.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<input type="hidden" id="poll_id" value=<%=@poll.id %> >
<div class="field">
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</div>
<div class="field">
  <%= f.label :description %><br>
  <%= f.text_area :description %>
</div>
<div class="field">
  <%= f.label :votes %><br>
  <%= f.number_field :votes %>
</div>  
  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>


 