 	<% @questions = Question.where("polls_id=?",poll.id) %>
 	<tr>
    	<td><%= poll_counter+=1 %></td>
        <td><b><%= poll.title %></b></td>
        <td><%= link_to 'Show', poll %></td>
    </tr>
    <tr>   
       <td><%= render(@questions) %></td>
    </tr>

