<p id="notice"><%= notice %></p>

<h1>Listing Polls</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   <%= render(@polls) %>
  </tbody>
</table>

<br>

<%= link_to 'New Poll', new_poll_path %>
