<p id="notice"><%= notice %></p>

<p>
	<strong>Title:</strong>
	<%= @poll.title %>
</p>
<p>
	<strong>Description:</strong>
	<%= @poll.description %>
</p>
<p>
	<strong>Votes:</strong>
	<%= @poll.votes %>
</p>
<p>
	<div id="4b" style="padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px; margin-left:4em">
		<strong>Questions:</strong>
		<ul>
			<% @questions.each do |question|  %>
			<li>
				<%= question.description %>
			</li>
			<% end %>
		</ul>
	</div>
	<%= link_to 'Edit', edit_poll_path(@poll) %> |
	<%= link_to 'Back', polls_path %>


