<h1>AddQuestionsAjax#index</h1>
<input type="hidden" id="poll_id" value=<%=@poll.id %> >
<a id="addQuestion" class="btn btn-info" href="#">Add Question</a><br/><br/>
<div id="contenedor">
    <div class="added">
        <label> 1 </label>
        <input type="text" name="questionsgroup[]" id="field_1" placeholder=""/><a href="#" class="eliminar">&times;</a><br/><br/>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {

    var MaxInputs       = 8; //Número Maximo de Campos
    var contenedor       = $("#contenedor"); //ID del contenedor
    var AddButton       = $("#addQuestion"); //ID del Botón Agregar

    //var x = número de campos existentes en el contenedor
    var x = $("#contenedor div").length + 1;
    var FieldCount = x-1; //para el seguimiento de los campos

    $(AddButton).click(function (e) {
        if(x <= MaxInputs) //max input box allowed
        {
            FieldCount++;
            //agregar campo
            $(contenedor).append('<div><label> '+ FieldCount +' </label><input type="text" name="questionsgroup[]" id="field_'+ FieldCount +'" placeholder=""/><a href="#" class="eliminar">&times;</a><br/><br/></div>');
            x++; //text box increment
        }
        return false;
    });

    $("body").on("click",".eliminar", function(e){ //click en eliminar campo
        if( x > 1 ) {
            $(this).parent('div').remove(); //eliminar el campo
            x--;
        }
        return false;
    });
});
</script>

<div>
	<button id="save">Update Question</button>
</div>

<script type="text/javascript">
    $('#save').click(function () {
  var contenedor       = $("#contenedor"); //ID del contenedor

    //here the url for questions
    poll_id=document.getElementById('poll_id').value;
    varId=[];
    i=0;
    $("#contenedor :input").each(function() {      
     varId[i]=$(this).val();
     i++;
 });
    $.ajax({   
        url : "/add_questions_ajax/index",
        type : "post",
        data : { data_value: JSON.stringify(varId) , poll_id}
    });
});
</script>