<h1>Preguntas y respuestas</h1>
<% @question = Question.find(2) %>
<% @answers = Answer.all %>
 <p><b>Pregunta</b></p> 
 <%= @question.description %>
<p><b>Respuestas:</b></p>
<ul>
	<% @answers.where(["questions_id = ?",@question.id]).each do |answer| %>
	<li>
	<%= answer.description %>		
	</li>
	<% end %>
</ul>
    <div>
    <table>
      <thead>
        <tr>
          <th colspan="3"></th>
        </tr>
      </thead>
      <% @answers.where(["questions_id is null"]).each do |answer| %>
      <tr>
        
          <% if answer.nil? %>
          <% else %>
          <td>
          <%= answer.description %>
          </td>
          <td>
          <%= button_to 'Add', make_form_index_path(answer_id: answer , question_id: @question)%>
          </td>
         <% end %> 
        </td>
      </tr> 
      <% end %>  
    </table>
    </div>