// Place all the styles related to the Show_poll controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 .show_poll {
	h1 {
		margin: 0;
		padding-bottom: 0.5em;
		font: 150% sans-serif;
		color: #226;
		border-bottom: 3px dotted #77d;
	}
	h2 {
		font-size: 120%;
		font-family: sans-serif;
		margin-left: 100px;
		margin-top: 0;
		margin-bottom: 2px;
		color: #227;
	}
}
