<!DOCTYPE html>
<html>
<head>
  <title>Syspoll</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
	<body>
	<div id="banner">
			<%= form_tag polls_index_path, class: 'locale' do %>
			<%= submit_tag 'submit' %>
			<%= javascript_tag "$('.locale input').hide()" %>
			<% end %>
			<%= image_tag "dropzone.svg", alt: 'Madrid Polls' , size: "70x40"%>
			<span class="title">Madrid Polls</span>
		</div>

		
	<div id="columns">
		<div id="side">
			<ul>
				<li><a href="/polls">Home</a></li>
				<li><a href="/polls">Polls</a></li>
				<li><a href="/questions">Preguntas</a></li>
				<li><a href="/answers">Respuestas</a></li>
			</ul>
		</div>
	</div>

	<div id="footer">

		<h1><span style="display:inline-block; width: 50px; white-space:pre">Bienvenido</span></h1>
		
		</div>
<%= yield %>

</body>
</html>
